/* -------------------mylib.css----------------------- */
DIV.table {
	display: table;
}
DIV.row {
	display: table-row;
}
DIV.cell {
	display: table-cell;
}
DIV.border-box {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
DIV.unselectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}